html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

html {
  overflow-x: hidden;
}

.errorMessage {
  margin: 0;
  color: red;
  font-weight: bold;
}

input,
input::before,
input::after {
  box-sizing: border-box;
}

input {
  border: 2px solid #8b8a8b;
  border-radius: 4px;
  font-size: 18px;
  padding: 0.25em 0.5em;
  width: 100%;
  transition: 300ms border-color ease-in-out;
  margin-top: 10px;
}

input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

input[disabled] {
  --input-border: #ccc;

  background-color: #eee;
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}

input:focus {
  border-color: hsl(226, 85%, 55%);
}